body {
   font-family: Helvetica, sans-serif;
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
}

.page-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: rgb(165, 192, 208);
   border-bottom: rgba(0, 0, 0, 0.167) 1px;
   font-family:'Arial Narrow', sans-serif;
   font-variant: small-caps;
   font-size: 1.25em;
}

.page-header ul{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
}

.page-header a {
   display: block;
   padding:0.5em;
   text-decoration:none;
}