body {
   font-family: Helvetica, sans-serif;
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
}

.page-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: rgb(165, 192, 208);
   border-bottom: rgba(0, 0, 0, 0.167) 1px;
   font-family:'Arial Narrow', sans-serif;
   font-variant: small-caps;
   font-size: 1.25em;
}

.page-header ul{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
}

.page-header a {
   display: block;
   padding:0.5em;
   text-decoration:none;
}

.items {
   width: 80%;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1em;
}
.items img {
   width: 100%;
   height: auto;
}

.item {
   border: rgba(0, 0, 0, 0.201) 1px;
   background-color: cornflowerblue;
}

.item img{
   border-radius: 5%;
   border-color: darkblue;
   }

.item p{
   font-style: arial;
   font-size: large;
}

.item p:nth-child(1) {
   font-weight: lighter;
}

.item p:nth-child(2) {
   font-weight: bold;
}

.item button {
   border-radius: 5%;
   padding: 10px 20px 10px 20px;
   background-color: darkgray;
}

